body {
    cursor: url("https://files.cnblogs.com/files/ljwsyt/mouse.ico"),default;
}
#mainContent{
width:900px;
}
#link2git img {
width:100px;
}
.flag {
width: 30px;
    height: 40px;
    background-color: red;
position: fixed; 
top: 0; 
right: 110px; 
}
.flag:after {
content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    border: 15px solid #fff;
    transform: rotate(45deg);
}
#cnblogs_post_body ul {
    overflow: auto;
    max-height: 600px;
}
#site_nav_under {
display: none;
}
::selection {
    background-color: #629151;
    color: #fff;
}
canvas#live2d{
border: 0 !important;
background: none;
    left: 0;
}
/* 目录 */
#navCategory {
    position: fixed;
    right: 20px;
    bottom: 10px;
    background: #ffffff;
    max-width: 250px;
    border: 10px solid #b0d9f9;
    border-radius: 20px;
    padding: 10px;
}
.go-top {
display: none;
    float: right;
    border: 1px solid #d0cfc7;
    padding: 0px 5px;
    border-radius: 10%;
    font-size: 14px;
    cursor: pointer;
}
.c_ad_block, .ad_text_commentbox {
display: none;
margin: 0;
padding: 0;
}
#ad_under_google {
height: 0;
overflow: hidden;
}
#ad_under_google a {
display: none;
}
#home {
margin: 0 auto;
width: 65%;
min-width: 950px;
background-color: #fff;
padding: 30px;
margin-top: 30px;
margin-bottom: 50px;
box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}
#blogTitle {
height: 60px;
clear: both;
}
#navigator {
font-size: 13px;
border-bottom: 1px solid #ededed;
border-top: 1px solid #ededed;
height: 50px;
clear: both;
margin-top: 25px;
}
#blogTitle h2 {
font-weight: normal;
font-size: 18px;
font-size: 1.18571429rem;
line-height: 2.546153846;
color: #757575;
float: left;
}

body{
background-image:url("https://images2018.cnblogs.com/blog/1348134/201808/1348134-20180809162905395-2105336004.gif");
 background-image:url("https://images2018.cnblogs.com/blog/1348134/201808/1348134-20180809164956043-1160023081.jpg"); 
background-repeat:no-repeat;
background-size:100%;
background-attachment: fixed;
filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity: 0.9; opacity: 0.9;
    font-size: 16px;
-webkit-transition: opacity 3s ease-in-out;
                    -moz-transition: opacity 3s ease-in-out;
                    -o-transition: opacity 3s ease-in-out;
                    transition: opacity 3s ease-in-out;

}

#blogTitle h1 a, #blogTitle h2 {
        color: #b79dc7;
        font-family: "微软雅黑";
        text-shadow: 3px 3px 3px #32d9ec;
    }

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
    background: #949494ad;
}
.toggleBackCls {
float: right;
    margin-right: -400px;
    color: green;
    cursor: pointer;
}
.toggleEff {
float: right;
    margin-right: -200px;
    color: green;
    cursor: pointer;
}
#effSelect{
display:none;
position:absolute;
    z-index: 2;
}
#effSelect ul{
border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,.5);
  background: #fff;
}
#effSelect ul li{
padding:5px;
cursor: pointer;
border-radius: 4px;
}
#effSelect ul li:hover,#effSelect ul li.selected{
background-color: #7fb758;
color: #fff;
}
#hiddenAp {
display:none;
    position: fixed;
    width: 400px;
    height: 600px;
    background-color: beige;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -300px;
z-index:1002;

    border-radius: 20px;
}

#showAp {
text-align: center;
    margin: 10px;
    color: red;
    font-weight: 600;
    cursor: pointer;
}

#apImg {
width:100%;
height:100%;
}

#hideAp {
    width: 30%;
    margin-top: 10px;
    height: 34px;
    margin-left: 140px;
border: 2px solid gray;
    border-radius: 17px;
cursor: pointer;
}

#bgloading {
            display:none;
position:fixed;
            top:0%;
            left:0%;
            width:100%;
            height:100%;
            background-color:black;
            z-index:1001;
            -moz-opacity:0.7;
            opacity:0.7;
            filter:alpha(opacity=70);
        }

audio::-webkit-media-controls {
　　overflow: hidden !important
}
audio::-webkit-media-controls-enclosure {
　　width: calc(100% + 32px);
　　margin-left: auto;
}
#Snow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(255,255,240,0.1);
    pointer-events: none;
}